@model ECSystem.Models.InsertCompanyCustomerModel
@{
    ViewBag.Title = "Add Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h6>Customer / Corporate Customer</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddCompany", "Customers", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "AddCompany" }))
            {
                @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label"> @Html.LabelFor(m => m.CompanyName)<small class="text-danger">*</small></label>
                        @Html.TextBoxFor(model => model.CompanyName, Model.CompanyName, new { @class = "form-control", @required = "required", @placeholder = "Enter Company Name" })
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>
                    </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label"> @Html.LabelFor(m => m.CompanyAddress)<small class="text-danger">*</small></label>
                        @Html.TextBoxFor(model => model.CompanyAddress, Model.CompanyAddress, new { @class = "form-control", @required = "required", @placeholder = "Enter Company Address" })
                        @Html.ValidationMessageFor(model => model.CompanyAddress)
                    </div>
                </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label"> @Html.LabelFor(m => m.CompanyPhone)<small class="text-danger">*</small></label>
                            @Html.TextBoxFor(model => model.CompanyPhone, Model.CompanyPhone, new { @class = "form-control", @required = "required", @placeholder = "Enter Company Phone" })
                            @Html.ValidationMessageFor(model => model.CompanyPhone)
                        </div>
                    </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label"> @Html.LabelFor(m => m.CompanyFax)<small class="text-danger">*</small></label>
                                @Html.TextBoxFor(model => model.CompanyFax, Model.CompanyFax, new { @class = "form-control", @required = "required", @placeholder = "Enter Company Fax" })
                                @Html.ValidationMessageFor(model => model.CompanyFax)
                            </div>
                        </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label"> @Html.LabelFor(m => m.ShippingMethod)<small class="text-danger">*</small></label>
                                    @Html.TextBoxFor(model => model.ShippingMethod, Model.ShippingMethod, new { @class = "form-control", @required = "required", @placeholder = "Enter Shipping Method" })
                                    @Html.ValidationMessageFor(model => model.ShippingMethod)
                                </div>
                            </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label"> @Html.LabelFor(m => m.BuyerName)</label>
                                        @Html.TextBoxFor(model => model.BuyerName, Model.BuyerName, new { @class = "form-control", @placeholder = "Enter Buyer Name" })
                                        @Html.ValidationMessageFor(model => model.BuyerName)
                                    </div>
                                </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label"> @Html.LabelFor(m => m.BuyerPhone)</label>
                                            @Html.TextBoxFor(model => model.BuyerPhone, Model.BuyerPhone, new { @class = "form-control", @placeholder = "Enter Buyer Phone" })
                                            @Html.ValidationMessageFor(model => model.BuyerPhone)
                                        </div>
                                    </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label"> @Html.LabelFor(m => m.BuyerEmail)</label>
                                                @Html.TextBoxFor(model => model.BuyerEmail, Model.BuyerEmail, new { @class = "form-control", @placeholder = "Enter Buyer Email" })
                                                @Html.ValidationMessageFor(model => model.BuyerEmail)
                                            </div>
                                        </div>
                                        </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            }
            </div>           
    </div>   
</div>